/* Color Palette 

Background - #181A1B - Dark grey
Font (main) - #CECAC3 - Light grey

Need to add link color (blue?)
Hover color - lighter grey?
*/ 

@import 'https://fonts.googleapis.com/css?family=Raleway';

:root {
	--text-color: #CECAC3;
	--background-color: #181A1B;
	--dark-grey: #2b2b2b;
	--heading__font-weight: 700;
}


body {
	background-color: var(--background-color);
	font-family: 'Chivo Mono', monospace;
	color: var(--text-color);
	font-weight:  400;
}

h1 {
	font-size:  30px;
	font-weight: var(--heading__font-weight);
}

h2 {
	font-size:  24px;
	font-weight: var(--heading__font-weight);
}

h3 {
	font-size:  18px;
	font-weight:  var(--heading__font-weight);
}

.pokemon-list {
	list-style: none;
}
.button-class {
	background-color: #EF3E33; /* Pokeball red */
	border: none;
	color: white;
	padding: 16px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-family: 'Chivo Mono', monospace;
	font-size: 20px;
	margin: 4px 2px;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
	cursor: pointer;
	background-color: white;
	color: black;
	border: 5px solid #EF3E33;
	border-radius: 15px;
  }

  .center-align {
	text-align: center;
  }

  #modal-container {
	display:none;
  }

  #modal-container.is-visible {

	position:fixed;
	padding:20px;
	box-sizing: border-box;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background: rgba(0, 0, 0 0.5);

	/* to show it above other content */
	z-index:999;

	/* to allow scrolling if the screen is not high enough */
	overflow:auto;

	/* center modal */
	display:grid;
	text-align:center;
  }

  .modal {
	margin:auto;
	display:inline-block;
	box-sizing:border-box;
	background:#fff;
	padding:15px;
	width:100%;
	max-width:700px;
	text-align:left;
  }

  .modal-close{
	float:right;
	border:0;
	background:none;
	color:#777;
	text-decoration: underline;
  }

  .modal h1{
	margin-top:0;
  }

  .modal p {
	margin-bottom: 0;
  }