@import 'https://fonts.googleapis.com/css?family=Raleway';

:root {
	--text-color: #212121;
	--background-color: #eeefeb;
	--dark-grey: #2b2b2b;
	--heading__font-weight: 700;
}


body {
	background-color: var(--background-color);
	font-family: 'Chivo Mono', monospace;
	color: var(--text-color);
	font-weight:  400;
}

h1 {
	font-size:  30px;
	font-weight: var(--heading__font-weight);
}

h2 {
	font-size:  24px;
	font-weight: var(--heading__font-weight);
}

h3 {
	font-size:  18px;
	font-weight:  var(--heading__font-weight);
}

ul {
    justify-content: center;
    list-style-type: none;
  }

  li {
    display: flex;
    justify-content: center;
  }

.pokemon-list {
	list-style: none;
}

.navbar {
    background-color: #c6251a;
    text-transform: uppercase;
	color: white;
}

main {
    margin-top: 120px;
  }


/* individual pokemon list buttons */
.button-class {
	text-align: center;
	text-transform: capitalize;
	text-decoration: none;
	font-family: 'Chivo Mono', monospace;
	text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.6);
	font-size: 20px;
	margin: 24px, auto;
	margin-bottom:10px;
	padding: 20px;
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
	cursor: pointer;
	/* background image for button with darkened property */
	background:linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.411)), url("../img/modal-background.png") no-repeat;
	color: rgb(255, 255, 255);
	border-radius: 10px;
	border:none;
	/* button hover animation */
	transition: 0.1s transform ease-in-out, 0.5s background-color ease-in-out;
	height: 200px;
	width: 200px;
  }

  .button-class:hover {
    background-color: var(--button-hover);
    cursor: pointer;
    transform: scale(1.075);
  }

  .form-control {
    border: none;
}


  .center-align {
	text-align: center;
  }

  ul {
	justify-content: center;
	list-style-type: none;
  }

  li {
	display:flex;
	justify-content:center;
  }

  #modal-container {
	display:none;
  }
/* -------modal items------ */

  #modal-container.is-visible {

	position:fixed;
	padding:20px;
	box-sizing: border-box;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background: rgba(0, 0, 0 0.5);

	/* to show modal above other content */
	z-index:999;

	/* to allow scrolling if the screen is not high enough */
	overflow:auto;

	/* center modal */
	display:grid;
	text-align:center;
  }

  #modal {
	margin:auto;
	box-sizing:border-box;
	background:#fff;
	padding:15px;
	width:100%;
	max-width:700px;
	text-align:center;
  }

  .modal-content {
	background: white;
	border: 4px solid;
	border-color:#c6251a;
	border-radius:5px;
	height: 500px;
	margin: auto;
	padding:15px;
	width:500px;
	text-transform: capitalize;
	text-align: center;
  }

  #modal-close{
	float:right;
	border:0;
	background:none;
	color:rgb(10, 10, 10);
	text-decoration: underline;
	cursor: pointer;
  }

  #modal h1{
	margin-top:0;
  }

  #modal p {
	margin-bottom: 0;
  }

  .modal-header {
	font-size: 24px;
	text-transform:capitalize;
	text-align:center;
  }

  #modal-title {
    font-size: 24px;
	text-transform:capitalize;
	text-align:center;
  } 

  .modal-img {
    margin-top: 20px;
    width: 50%;
  }

  #modal-text {
    bottom: 0;
    padding: 16px 16px 16px 0;
    position: absolute;
    text-align: center;
  }
  #close:focus {
    outline: none;
  }
